.header {
  height: auto;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  width: 100%;
  padding: 92px 50px 96px;
}

.menu-list {
  display: flex;
  flex-direction: row;
  gap: 32px;
  list-style: circle;
  font-weight: 400;
  font-size: 18px;
  justify-content: flex-start; /* меню прижато к левому краю */
  text-underline-offset: 3px;
}

.menu-item_no-marker {
  list-style: none;
}

.menu-link_active {
  text-decoration: none;
  pointer-events: none;
}

.address-list {
  max-width: 240px;
  font-weight: 400;
  font-size: 18px;
  line-height: 135%;
  font-style: normal;
  display: flex;
  flex-direction: column;
  list-style: none;
  text-underline-offset: 4px;
}

.header .address {
  justify-self: end;
}

.header__logo {
  display: block;
  width: 148px;
  height: 105px;
  padding-left: 6px;
}

.header__logo-image {
  display: block;
  width: 97%;
  height: auto;
}

.cover {
  position: relative;
  min-height: 757px;
  background-image: url("../images/cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 165px 50px 50px;
  width: 100%;
}

.overlay {
  position: absolute; /* накладываем поверх */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000; /* полупрозрачный чёрный */
  opacity: 0.6;
  z-index: 1; /* слой выше фона */
}

.cover__title {
  position: relative; /* чтобы быть выше оверлея */
  z-index: 2; /* слой выше оверлея */
  width: 100%;
  color: #fff;
  font-size: 100px;
  font-weight: 700;
  line-height: 115%;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 106px;
}

.accent-span {
  display: block;
  letter-spacing: 30px; /* общий межбуквенный интервал */
}

.last-letter {
  letter-spacing: 0; /* сбрасываем интервал для последней буквы */
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.description {
  position: relative; /* чтобы быть выше оверлея */
  z-index: 2; /* слой выше оверлея */
  display: block;
  max-width: 637px;
  width: 100%;
  font-size: 22px;
  line-height: 28px;
  color: #fff;
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button {
  position: relative; /* чтобы быть выше оверлея */
  z-index: 2; /* слой выше оверлея */
  padding: 0;
  width: 256px;
  height: 51px;
  font-weight: 500;
  font-size: 22px;
  text-transform: uppercase;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid #fff;
}

.lots {
  margin: 180px 24px 120px;
}

.sections-heading {
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}
.lots-heading {
  margin-left: 40px;
  margin-bottom: 27px;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  list-style: none;
}

.lots__card-item {
  flex: 0 0 334px;
}

.card__title {
  position: relative;
  z-index: 2;
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
  color: #fff;
  display: block;
}

.card__text {
  position: relative;
  z-index: 2;
  font-size: 20px;
  line-height: 120%;
  color: #fff;
}

.card {
  position: relative; /* чтобы быть выше оверлея */
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 596px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 48px 40px;
  justify-content: space-between;
}

.card__link {
  text-decoration: none;
  color: inherit;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.look-more {
  display: inline-block; /* чтобы можно было задавать размеры/отступы */
  text-transform: lowercase;
  margin-top: 30px;
  margin-left: 35px;
  background-color: transparent;
  cursor: pointer; /* курсор "рука" */
  text-underline-offset: 4px;
}

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  margin: 0 24px 180px;
  column-gap: 25px;
}

.about__logo {
  justify-self: center; /* центрирует элемент внутри своей колонки */
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__logo-image {
  max-width: 62%;
}

.about__column {
  margin-top: 34px;
}

.about-heading {
  margin-top: 136px;
  margin-bottom: 100px;
}

.about__text-block {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.about__text {
  font-size: 20px;
  line-height: 120%;
  color: #000;
  padding-left: 6px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: flex-start;
  width: 100%;
  padding: 0 50px 82px;
}

.footer__address .address-list {
  justify-self: start;
  max-width: 260px;
}

.footer__menu .menu-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: center; /* меню по центру */
  align-items: center;
  text-underline-offset: 3px;
  gap: 0;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  gap: 48px;
  list-style: none;
  justify-self: end; /* соцсети прижаты к правому краю */
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
